/* COLOR PALETTE

	lighter-gray: #ececec;
	gray: #575756;
	dark-gray: #878784;

 */

body {
	font-family: "Roboto", sans-serif;
	counter-reset: question-counter page-counter;
	color: #000000
}


/* typography */
h1 {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 24pt;
	line-height: 1.1;
	margin: 20px auto .2em;
}
h2 {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 16pt;
	color: #878784;
	line-height: 1.1;
	margin: .2em auto;
}
h3 {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 14pt;
	line-height: 1.1;
	font-weight: lighter;
}
h4 {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 11pt;
	text-transform: uppercase;
	letter-spacing: .2em;
	line-height: 1.1;
	font-weight: bold;
}
p {
	line-height: 1.5em;
}
em, i {
	font-style: italic;
}
h4, h5, h6{
  margin-top: 10px;
  margin-bottom: 10px;
}
.ennunciation-container, .alternatives {
	font-size: 12pt;
}
.text-center {text-align: center;}
.text-right {text-align: right;}


/* description lists */
.dl-horizontal dt {
    clear: left;
    float: left;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60pt;
    color: #878784;
}
.dl-horizontal dd {
    margin-left: 70pt;
}

/* tables */
table {
  background-color: transparent;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 0px;
}
.table-bordered {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
thead {display: table-header-group;}
tfoot {display: table-header-group;}

/* FORM TABLE */
.form-table {
	font-family: "Roboto Condensed", sans-serif;
	margin: 5pt auto;
}
.form-table > thead > tr > th{
	text-align: left;
	padding: 0;
}
.form-table > tbody > tr > td{
	background: #ececec;
	border: 3px solid #FFFFFF;
	height: 28pt;
	font-size: 13pt;
	padding: 5pt 4pt 0;
}
.name-table {
	width: 100%;
	text-align: center;
	margin: 20pt auto 5pt
}
.name-table > thead > tr > th{
	text-align: center;
	font-size: 20pt;
	font-weight: bold;
}
.name-table > tfoot > tr > td{
	font-style: italic;
	font-size: 12pt;
	font-weight: lighter;
	color: #878784; 
	height: 30pt;
	padding-bottom: 0;
}
.name-table > tbody > tr > td{
	height: 40pt;
}

/* TABLE MODEL */
.table.model td, .table.model th {
	border-top: none;
	border-bottom: 1px solid #dddddd;
}
.table.model td {
	color: #CCCCCC
}
.table.model th {
	font-size: 12pt;
	font-weight: bold;
	color: #000000;
}
/* TABLE GABARITO */
.table.gabarito {
	margin: 10px auto;
	border-bottom: 1px solid #dddddd;
	width: 20%;
}
.table.gabarito td, .table.gabarito th{
	width: 25%;
	text-align: center;
	padding: 3px
}

/* lists */
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}


/* PAGE DESIGN */
.page {
	page-break-after: always;
	position: relative;
	min-height: 842pt;
}
/* page header */
.page header {
	height: auto;
	overflow: auto;
}
.page header .logo {
	float: left;
}
.page header .qrcode{
	float: right;
	width: 10%;
	text-align: right;
}
.page header .logo, .page header .qrcode {
	margin-bottom: 10pt;
}
.page header .logo img, .page header .qrcode img {
	height: 45pt;
}
.page header .header-data {
	font-family: "Roboto Condensed", sans-serif;
	background: #ececec;
	clear: both;
	height: auto;
	overflow: auto;
}
.page header .header-data .dl-horizontal{
	width: 40%;
	float: left;
}
.page header .header-data .dl-horizontal:first-child{
	width: 60%;
}
/* page content */
.page .page-content {
	padding: 20pt 0 10pt;
}


/* ITEM */
/* item counter */
.page .item {
 	page-break-inside: avoid;
 	border-bottom: 20px solid #ECECEC;
 	margin-bottom: 20pt;
 	padding-bottom: 10pt;
}
.page .item.dissertative {
	overflow: auto;
	height: auto;
}
.page .item .ennunciation p:first-child:before {
	content: counter(question-counter) ') ';
	counter-increment: question-counter;
	font-weight: bold;
}
.page .item .ennunciation-container .ennunciation {
	float: left;
	width: 90%;
	margin-bottom: 10pt;
}
.ennunciation-container .reference {
	font-style: italic;
	color: #666;
	display: block;
	margin: 5px auto 20px;
	font-size: 11pt
}
.page .item .ennunciation-container .qrcode {
	float: right;
	width: 10%;
	text-align: right;
}
.page .item .ennunciation-container .qrcode img{
	height: 45pt;
}
.page .item .ennunciation-img-container {
	display: block;
	width: 100%;
	text-align: center;
}
.page .item .ennunciation-img-container img{
	display: block;
	margin: 10px auto;
}
.page .item .alternatives-container {
	background: url(../img/alternative-map.png) repeat-y transparent top left;
	clear: both;
	padding: 0 0 0 0;
	position: relative;
	margin: 20px 0 0 20px;
}
.page .item .alternatives-container:before {
	background: url(../img/alternative-map.png) no-repeat transparent top left;
	content: "";
	display: block;
	position: relative;
	left: 25px;
	top: 0;
	width: 15px;
	height: 15px;
}
.page .item .alternatives {
	margin: 6px auto 0;
	list-style-type: none;
	padding: 0 0 0 50px; 
	counter-reset: alternative-counter;
	height: auto;
	overflow: auto;
}
.page .item .alternatives li {
	margin-bottom: 0;
	line-height: 25px;
	position: relative;
}
.page .item .alternatives li:before {
	content: counter(alternative-counter, upper-latin);
	counter-increment: alternative-counter;
	font-size: 9pt;
	line-height: 9pt;
	position: absolute;
	top: 5px;
	left: -25px;
	width: 15px;
	height: 15px;
	border: 1px solid #000000;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page .item .alternatives li:last-child {
	margin-bottom: 25px;
}
.page .item .alternatives li.latex {
	height: 50px;
	margin-bottom: 25px;
}
.page .item .alternatives li.latex-image img{
	height: 65px;
	margin-bottom: 10px;
}

/* page footer */
.page footer {
	content: 'Página ' counter(page-counter) ' de ';
	counter-increment: page-counter;
	font-family: "Roboto Condensed", sans-serif;
	background: #cccccc;
	color: #FFFFFF;
	font-size: 12pt;
	padding: 3pt 10pt;
	text-align: right;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
 




/* COVER PAGE */
#cover header .logo img {
	height: 90pt;
}
#cover .form-container {
	clear: both;
	margin-top: 20pt;
}
#cover .instructions-container {
	border-top: 1px solid #878784;
	margin: 10pt auto 0;
	padding: 10pt;
}
#cover .instructions-container h4{
	text-align: center;
	margin: 0 auto 10pt;
}
#cover .instructions-container .instructions {
	-webkit-columns: 250pt 2;
	-moz-columns: 250pt 2;
	columns: 250pt 2;
	-webkit-column-gap: 20pt;
	-moz-column-gap: 20pt;
	column-gap: 20pt;
	column-fill: auto;
	padding: 0;
	color: #575756;
}
#cover .instructions-container .instructions li {
	margin-bottom: 1em;
	font-size: 10pt;
}





/* PRINT FIXES */
@media print {
	@page {
	    size: A4 portrait;
	}
	body {
	  -webkit-print-color-adjust: exact;
	}
}



